<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Pieces</title>
</head>
<body>
   <div th:replace="template"></div>
<div class="container">
<div class="card">
  <div class="card-header">
    Liste des Pieces
  </div>
  <div class="card-body">    
      <table class="table table-striped">
        <tr>
          <th>ID</th><th>Nom Piece</th><th>Prix</th><th>Date</th><th>model</th><th>Nature</th>
         </tr>  
           <tr th:each="p:${pieces.content}">
              <td th:text="${p.idPiece}"></td>
              <td th:text="${p.nomPiece}"></td>
              <td th:text="${p.prixPiece}"></td>   
              <td th:text="${p.dateCreation}"></td>  
              <td th:text="${p.model}"></td>  

              
			  
               <td th:if= "${!#strings.isEmpty(p.nature)}" th:text="${p.nature.nomNat}"></td>
 			   <td th:if= "${#strings.isEmpty(p.nature)}" th:text="${'Pas de Nature'}"></td> 
              
               
             
			   <td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-success"th:href="@{modifierPiece(id=${p.idPiece},page=${currentPage},size=${size})}"
			   >Editer</a></td>	
			   		<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')"
					th:href="@{supprimerPiece(id=${p.idPiece}, page=${currentPage},size=${size})}">Supprimer</a></td>
			</tr>
      </table>
            <ul class="nav nav-pills">
         <li th:each="page,status:${pages}">
           <a th:class="${status.index==currentPage?'btn btn-primary':'btn'  }" 
       th:href="@{ ListePieces(page=${status.index}, size=${size} ) }"
              th:text="${status.index }"></a>
         </li>
      </ul>
      </div>
</div>
</div>
</body>
</html>
